body{
    font-family: 'Gotham Pro', sans-serif;
    background-color: #fff;
    color: #121212;
}
p{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}
ul, li{
   list-style: none;
    padding: 0;
    margin: 0;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

.red{
    color: #c22938;
}

.btn-red{
    background: #c22938;
    padding: 14px 38px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    border: none;
}
.btn-red:hover{
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    color: inherit;
}
.btn-red-border{
    padding: 12px 38px;
    color: inherit;
    font-size: 14px;
    border: 2px solid #c22938;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
}
.btn-red-border:hover{
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

h1{
    font-weight: bold;
    color: #fff;
}
button:focus{
    outline: none;
}

/*style header*/
.input-search{
    width: 84%;
    height: 40px;
    position: relative;
    margin-top: 40px;
    margin-bottom: 7px;
}

.input-search input{
    width: 100%;
    height: 40px;
    background-color: #f7f7f7;
    border: 1px solid #ede9e2;
    color: inherit;
    padding-left: 20px;
}
.input-search input[type="search"]::placeholder{
    color: #cececf
}

.input-search svg{
    fill: #2b2a32;
    position: absolute;
    top: 28%;
    right: 6%;
    width: 20px;
    height: 20px;
}

.delivery{
    margin-bottom: 20px;
}

.delivery svg{
    fill: #c22938;
    width: 28px;
    height: 21px;
    margin-right: 7px;
}
.delivery a{
    color: inherit;
    text-decoration: underline;
    font-size: 0.875em;
    font-weight: bold;
}

.logo{
    position: relative;
    margin: auto;
    margin-top: 25px;
    width: 88%;
}


.logo img{
    width: 100%;
    height: auto;
}

/* .logo__text{
    font-size: 0.625em;
    color: #a72d3a;
    text-transform: uppercase;
    padding-left: 28px;
    position: absolute;
    bottom: 0;
} */

.wrap-icon{
    margin-top: 35px;
    height: 50px;
}

.phone svg, .user svg, .carts img{
    width: 25px;
    height: 27px;
    fill: #727275;
    margin-left: 18px;
   cursor: pointer;
}
.carts img{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.carts{
    position: relative;
    height: inherit;
    color: inherit;
}
.carts span{
    padding-left: 15px;
    font-size: 0.938em;
}
.carts .counter{
    position: absolute;
    top: 4px;
    left: 32px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #c22938;
    color: #fff;
    font-size: 0.688em;
    text-align: center;
    vertical-align: middle;
}

.menu-icon{
    height: 0;
    overflow: hidden;
}

.menu{
    font-size: 1.125em;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    position: relative;
}

.menu-item{
    padding-right: 50px;
    list-style: none;
    height: inherit;
    align-items: center;
    display: flex;
}

.menu-item:last-of-type{
    padding-right: 0;
}
.menu-item a{
    color: inherit;
}
/*попап меню*/
.wrapper-menu{
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    top: 100%;
    left: 0;
    height: 0;
    overflow: hidden;
}
.menu-item:hover .wrapper-menu{
    height: auto;
    overflow: visible; border: 3px solid #2b2a32;
}
/* .wrapper-menu__categories h4, .wrapper-menu__popular h4{
    margin-top: 30px;
    padding-left: 50px;
    font-size: 1.125em;
    text-transform: none;
    font-weight: 500;
    padding-bottom: 20px;
}
.wrapper-menu__categories-img h3{
    font-weight: bold;
    font-size: 1.250em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
} */
.wrapper-menu__categories-img{
    width: 260px;
    /* background-color: #f7f7f7; */
}
.wrapper-menu__categories-img img{
    margin: auto;
    display: block;
}
.wrapper-menu__categories{
    width: 70%;
    border-right: 1px solid #f7f7f7;
}
.wrapper-menu__categories{
    padding: 35px 0;
    color: #2b2a32;
}
.wrapper-menu__categories_categ ul li{
    font-size: 1em;
    text-transform: none;
    list-style: none;
    padding: 7px 0 ;
    font-weight: normal;
}
.wrapper-menu__categories_categ ul li a{
    color: inherit;
}
.wrapper-menu__categories_categ ul li a:hover{
    color: #009e3b;
}
/*попап меню*/

/*попап тнлнфони*/
#phone{
    background: #009e3b;
    width: 100%;
    /* height: 50vh; */
    position: relative;
    height: 0;
    overflow: hidden;
}
#phone .ours-phone{
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    width: 50%;
}
#phone .ours-phone .ours-phone__title{
    font-size: 28px;
    padding-bottom: 35px;
    padding-top: 80px;
}
#phone .ours-phone .ours-phone__nomber{
    border-right: 1px solid #fff;
    width: 60%;
    margin-bottom: 35px;
}
#phone .ours-phone .ours-phone__button{
    padding-bottom: 80px;
}

#phone .ours-phone .ours-phone__nomber img{
    width: 40px;
    height: auto;
    margin-right: 15px;
}
#phone .ours-phone .ours-phone__nomber .ours-phone__nomber_k{
    margin: 17px 0;
}
#phone .ours-consultants {
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
#phone .ours-consultants .ours-consultants__name{
    border: 1px solid #fff;
    background: #fff;
    font-size: 18px;
    margin-bottom: 40px;
}
#phone .ours-consultants .ours-consultants__name span{
    padding: 15px 0 15px 30px;
    width: 320px;
}
#phone .ours-consultants .ours-consultants__name span:last-of-type{
    background: #009e3b;
    color: #fff;
}
#phone .ours-consultants .ours-consultants__img img{
    height: 380px;
    width: auto;
    position: absolute;
    bottom: 1px;
    right: -84px;
}
#phone .phone-close{
    height: 35px;
    width: 35px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

#phone.open{
    border: 2px solid #fff;
    height: auto;
    overflow: visible;
}


/*попап тнлнфони*/

#baner{
    background: url(../img/fonts-img.jpg) no-repeat center center;
    background-size: cover;
    background-position: top center;
    position: relative;
}

.baner-top{
    background-color:rgba(224, 224, 224, 0.8);
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
}
.baner-menu a img{
    height: 47px;
    width: 47px;
    display: block;
    margin: 0 auto;
}

.baner-menu a{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-right: 22px;
    width: 85px;
    color: inherit;
}

.baner-menu a:hover{
    transform: scale(1.2);
}
.baner-menu a:last-of-type{
    margin-right: 0;
}

.baner-menu{
    font-size: 0.688em;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 22px;
    text-align: center;
}

.baner-title{
    text-align: center;
    color: #fff;
    padding: 88px 0;
}

.baner-title h1{
    font-size: 3.750em;
    padding-bottom: 25px;
}

.baner-title p{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 1.750em;
    padding-bottom: 40px;
}

/*the end style header*/

.delivery-info{
    margin: 30px 0;
    border: 1px solid #c22938;
    background-color: #f7f7f7;
    padding: 24px;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}
.delivery-info a{
    font-size: 14px;
    font-weight: 700;
}
.delivery-info a:hover{
    color: #c22938;
}
.delivery-info a svg{
    width: 10px;
    height: 10px;
    fill: #c22938;
   margin-left: 5px;
}

.nav.nav-pills{
    padding-bottom: 20px;
} 

.nav-item, .nav-link{
    color: inherit;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: transparent;
    color: inherit;
    position: relative;
}

.nav-pills .nav-link.active::before, .nav-pills .show>.nav-link{
    content: '\f0d7';
    font-family: 'FontAwesome';
    color: #a72d3a;
    position: absolute;
    top: -12px;
    left: 48%;
}

.cards{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    /* max-width: 198px; */
    height: 215px;
    padding: 15px;
    font-size: 14px;
    font-weight: 700;
    color: inherit;
    text-align: center;
    position: relative;
}

.cards__img{
    height: 40%;
    width: 100%;
}

.cards img{
    /* max-height: 100%; */
    height: auto;
    max-width: 100%;
}
.cards-desc{
    height: 45%;
    margin-top: 35px;
}
.cards, .cards-desc, .price{
    padding-top: 10px;
}
.cards-desc p{
    font-weight: 700;
} 
.cards .cards-desc .price{
    font-family: inherit;

}

.shopping-cart{
    height: 50px;
    width: 50px;
    background: #c22938;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12%;
    left: 42%;
    height: 0;
    overflow: hidden;
}
.shopping-cart svg{
    fill: #fff;
    width: 30px;
    height: 30px;
}

.cards:hover .shopping-cart{
    height: 50px;
    overflow: visible;
}
.cards:hover .cards__img{
    transform: scale(1.2);
}

.slider-catalog{
   /* max-width: 85%; */
      margin: auto; 
      margin-bottom: 55px;
      position: relative;
      padding: 0 7%;
      height: 220px;
     overflow: hidden;
}

.slick-arrow{
    background: transparent;
    border: none;
    font-size: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 2;
    cursor: pointer;
}
.slick-arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border: 4px solid #ededed;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}
 .slick-arrow:hover::before{
    border: 4px solid #000;
}

.slider-catalog .slick-arrow, .slider-comments .slick-arrow {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.slider-catalog .slick-arrow.slick-next {
    right: 20px;
}
.slider-catalog .slick-arrow.slick-prev {
    left: 20px;
}

.slick-arrow.slick-next:before {
    border-bottom: none;
    border-left: none;
}
.slick-arrow.slick-prev:before {
    border-top: none;
    border-right: none;
}

  .slick-slide:focus{
      outline: none;
  }


/*section why-we*/

.why-we{
    background: url(../img/fonts-img-1.jpg) no-repeat center center;
    background-size: cover;
    height: auto;
    padding: 95px 0;
}

.wrap-why-we{
    color: #fff;
}

.wrap-why-we h1{
    padding-bottom: 15px;
    font-size: 36px;
}

.wrap-why-we p{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 40px;
}

/*the end section why-we*/

.comments{
    background-color: #f9f9fb;
    padding: 55px 0;
}

.comments-wrap__title, .send-letter__title, .recommend{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 40px;
}

.comements-cards{
    width: 100%;
    height: auto;
    padding: 18px 20px 35px 24px;
    box-shadow: 0 0 3px 2px rgba(189, 187, 187, 0.2);
    background: #fff;
    position: relative;
    margin: 0 15px;
}

.comments-cards__info_img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: 20px;
}

.comments-cards__info .comments-cards__info_desc p{
    font-size: 18px;
    font-weight: 500;
}
.comments-cards__info .comments-cards__info_desc p span{
    color: #a0a0a0;
}

.comments-cards__info .comments-cards__info_desc::after{
    content: '“';
    font-size: 110px;
    position: absolute;
    right: 20px;
    top: -11px;
    color: #f8f8f8;
    font-weight: 900;
}
.stars i{
    color: #009e3b;
    padding-right: 3px;
}

.comments-catds__text{
    font-weight: 300;
   font-style: italic;
   font-size: 17px; 
   padding-top: 16px;
}

.slider-comments .slick-arrow.slick-next {
    right: -40px;
}
.slider-comments .slick-arrow.slick-prev {
    left: -40px;
}
/* .comments-cards__info_img img{
    position: absolute;
    left: -10px;
    top: -10px;
} */

.send-letter{
    padding: 55px 0;
}

.send-letter__form{
    width: 90%;
    margin: auto;
    height: 40px;
}
.send-letter__form input{
    background-color: #f7f7f7;
    border: 1px solid #ede9e2;
    color: #cececf;
    padding-left: 20px;
    height: inherit;
    width: 68%;
}

.send-letter__form button{
    border: 2px solid #c22938;
    background: transparent;
    height: inherit;
    width: 28%;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    margin-left: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

.footer{
    background: #009e3b;
    padding: 40px 0 20px;
}

.content, .content-info{
    color: #fff;
}

.content-title{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.content-title h3{
    font-size: inherit;
}

.content-menu li{
    padding-bottom: 5px;
}
.content-menu li a{
    color: inherit;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}
.content-menu li a:hover{
    font-weight: 700;
}
.content-info{
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 16px;
}
.content-info h3{
    font-size: inherit;
}
.content-info-text p{
    font-size: 15px;
    font-weight: 400;
}

.content-menu__icon{
    margin: 20px 0;
}
.content-menu__icon li{
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.content-menu__icon li:first-child{
    background-color: #548ab1;
}
.content-menu__icon li:nth-child(2){
    background-color: #4784c9;
}
.content-menu__icon li:nth-child(3){
    background-color: #e14cbb;
}

.content-menu__icon li a{
    color: inherit;
}
.payment, .subscribe{
    margin-top: 30px;
}

.payment{
    width: 30%;
}

.payment a img{
    width: 65px;
    display: inline-block;
}
.payment a{
    margin-left: 40px;
}
.payment a:first-of-type{
    margin: 0;
}

.subscribe{
    width: 40%;
}
.subscribe img{
    width: 80px;
    height: 20px;
}
.subscribe span{
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
    color: #fff;
    padding-left: 10px;
}

/*style modal window*/
.black-fill{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
}
.modal-window{
    position: fixed;
    z-index: 100;
    width: 80%;
    height: 70%;
    top: calc(15%);
    left: calc(10%);
    display: none;
    background: #fff;
    border: 3px solid #000;
    padding: 0 30px;
    overflow-y: scroll;
}

/* .black-fill.show, .modal-window.show{
    display: block !important;
} */

.img-product{
    width: 50%;
    padding: 0 25px;
}
.img-product .small-img img{
    height: 75px;
    width: auto;
}

.details-product{
    margin-top: 30px;
    padding: 0 25px;
}
.details-product ul li{
    padding-right: 10px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 10px;
}
.details-product ul li a{
    color: inherit;
}
.details-product ul li a::after{
    content: '/';
    padding-left: 10px;
}
.details-product h3{
    font-size: 24px;
    padding: 10px 0;
    font-weight: 500;
}
.details-product .stars i{
    margin-left: 4px;
}
.details-product .stars a{
    color: #a0a0a0;
    font-size: 14px;
    margin-left: 22px;
    text-decoration: underline;
}
.details-product .icon-img img{
    height: 30px;
    width: 30px;
    margin: 14px 0 14px 8px;
}
.details-product .choice-weight h6, .details-product .counter h6, .details-product .share-social h6{
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    padding-bottom: 10px;
}  
.choice-weight .gruop-radio li{
    margin-bottom: 10px;
}
.choice-weight .gruop-radio li p{
    font-size: 14px;
    padding-left: 15px;
}


.details-product .share-social img{
    height: 18px;
    width: auto;
    margin-left: 25px;
}
.counter{
    margin-bottom: 35px;
}

.wrap-counter__spinner{
    height: 45px;
    width: 70px;
    background: #f8f8f8;
    margin-right: 10px;
}
.wrap-counter__spinner .spinner{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: space-around;
}
.wrap-counter__spinner .spinner input[type="text"]{
       width: 50%;
      text-align: center;
       height: inherit;
      border: none;
      background: transparent;
 }
 .wrap-counter__spinner .spinner .nav{
    display: flex;
    flex-flow: column;
    background: #9b9b9b;
    width: 20px;
    color: #fff;
    padding: 0 5px;
 }
 .wrap-counter__spinner .spinner .nav .up,
 .wrap-counter__spinner .spinner .nav .down{
     height: 50%;
     cursor: pointer;
 }
 .wrap-counter__spinner .spinner .nav .up:hover,
 .wrap-counter__spinner .spinner .nav .down:hover{
    color: #121212;
}



/* .wrap-counter__button{
    background-color: #f8f8f8;
    height: 45px;
    width: 315px;
} */
.wrap-counter span{
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding-left: 22px;
    padding-right: 32px;
    height: 45px;
    display: flex;
    align-items: center;
    background: #f8f8f8;
}
.wrap-counter button.btn-red{
    height: 45px;
    border: none;
    padding: 0 35px;
    cursor: pointer;
}
.wrap-counter button.btn-red:hover{
    transform: scale(1);
    color: #fff;
}
.wrap-counter button.heart{
    height: 45px;
    width: 47px;
    border: none;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.wrap-counter button.heart svg{
    fill: #a0a0a0;
    height: 22px;
    width: 22px;
}
.wrap-counter button.heart:hover svg{
    fill: #c22938;
}

.tabs{
    margin-top: 60px;
}

.tabs .nav-link{
    font-size: 14px;
    padding: 10px 30px;
    border: 2px solid #f2f2f3;
    margin-left: 20px;
    border-radius: 0; 
}
.tabs .nav-link.active{
    border: 2px solid #c22938;
}
.tabs .nav-pills .nav-link.active::before{
    top: -8px;
    color: #c22938;
}



/*style section catalog*/
.title-catalog{
    text-align: center;
    background-color: #f8f8f8;
    padding: 20px 0;
}
.title-catalog .title{
    font-size: 24px;
    font-weight: 500;
}
.title-catalog .force-catalog{
    font-size: 11px;
    padding-top: 5px;
    padding-bottom: 10px;
}
.title-catalog .force-catalog a{
    color: #a0a0a0;
    padding-right: 7px; 
    padding-left: 3px;
    border-right: 1px solid #a0a0a0;
}
.title-catalog .force-catalog span{
    /* border-left: 1px solid #a0a0a0; */
    padding-left: 4px; 
}

.title-catalog .desc-catalog{
    text-align: left;
    font-size: 14px;
    padding-bottom: 15px;
}
.title-catalog .desc-catalog span{
    font-weight: 700;
}
.title-catalog .button-catalog button{
    border: none;
    font-size: 12px;
    color: #fff;
    margin-bottom: 15px;
}
.catalog, .catalog-2{
    padding: 60px 0 30px;
}
.wrapper-catalog, .wrapper-catalog-2{
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.wrapper-catalog .cards-2{
    /* width: 165px; */
    width: 210px;
    height: 195px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 10px 5px;
    /* overflow: hidden; */
    margin-top: 25px;
    margin-right: 15%;
}
.wrapper-catalog .cards-2 img.cards-2__img{
    height: 40%;
    width: auto;
    max-width: 100;
}
.wrapper-catalog .cards-2:nth-of-type(3n){
    margin-right: 0;
}

.wrapper-catalog .cards-2:hover .cards-2__img{
    transform: scale(1.2);
}

.wrapper-catalog .cards-2 .cards-2-desc{
    color: #009e3b;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.wrapper-catalog .cards-2 .cards-2-desc span{
    color: #121212;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
}
/*the end style section catalog*/

/*section catalog-2*/
.wrapper-catalog-2 .cards{
    width: 220px;
    height: 290px;
    margin-right: 8%;
}
.wrapper-catalog-2 .cards img{
    height: auto;
    max-width: 100%;
}
.wrapper-catalog-2 .cards:nth-of-type(3n){
    margin-right: 0;
}
.wrapper-catalog-2 .cards .cards__img{
    height: 50%;
}

.wrapper-catalog-2 .cards .cards-button{
    position: absolute;
    top: 18%;
    left: 30%;
    color: #fff;
    height: 0;
    overflow: hidden;
}
.wrapper-catalog-2 .cards:hover .cards-button{
    height: auto;
    overflow: visible;
}

.wrapper-catalog-2 .cards .cards-button span.btn-red{
    padding: 7px 18px;
    font-size: 11px;
}
.filter{
    display: none;
}
.wrap-filter h4{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}

.wrap-filter__categori{
    font-size: 14px;
    margin-bottom: 15px;
}
.wrap-filter__categori input{
    margin-right: 10px;
}
.wrap-filter__categori input[type=checkbox]{
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.wrap-filter__more{
    height: 0;
    overflow: hidden;
}
.wrap-filter__more.show{
    height: 100%;
    overflow: auto;
}

.wrap-filter button.see-more{
    border: none;
    background: transparent;
    padding: 0;
    font-size: 13px;
    color: #a0a0a0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.navigation{
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}
.navigation a{
    color: #a0a0a0;
}
.navigation a.next:hover,
.navigation a.prev:hover{
    color: #121212;
}
.navigation a.next::after{
    content: '\f105';
    font-family: 'FontAwesome';
    padding-left: 5px;
}

.navigation a.prev::before{
    content: '\f104';
    font-family: 'FontAwesome';
    padding-right: 5px;
}
.navigation .navigation-page a{
    color: #121212;
    padding: 3px 8px;
}
.navigation .navigation-page a.active{
    color: #a0a0a0;
    border: 1px solid #cdcdcd;
}

/*the end section catalog-2*/
.recommend{
    padding-bottom: 20px;
    padding-top: 35px;
}
.recommend .slider-catalog{
    margin-top: 55px;
}
.reviews{
    flex-wrap: wrap;
}
.reviews .comements-cards{
    width: 48%;
    margin-left: 0;
    margin-right: 30px;
    margin-bottom: 30px;
}
.reviews .comements-cards:nth-of-type(2n){
    margin-right: 0;
}
/*section card-product*/
.card-product {
    padding: 45px 0;
}
/* the end card-product*/

/*section payment-delivery*/
.payment-delivery, .about-us{
    padding-bottom: 40px;
}
.about-us{
    padding-top: 40px;
}
.payment-delivery div, .about-us div{
    line-height: 1.6em;
    font-size: 18px;
}
.payment-delivery div h4, .about-us div h4{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15px;
    margin-top: 35px;
}

.payment-delivery div ul li, .about-us div ul li{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    padding: 5px 0;
}
.payment-delivery div ul li::before, .about-us div ul li::before{
    content: '-';
    color: #009e3b;
    font-weight: 700;
    padding-right: 10px;
}

.payment-delivery .maps{
    max-width: 100%;
}
.about-us .maps{
    max-width: 100%;
    margin-top: 25px;
}
.about-us div p{
    padding-bottom: 10px;
}

/*the end section payment-delivery*/


/*section basket*/
.basket{
    padding-top: 35px;
    padding-bottom: 60px;
}
.wrapper-basket,
.wrapper-basket__info{
    padding: 25px 0;
    border-bottom: 1px solid #e2dcd1;
}

.wrapper-basket h6{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.wrapper-basket__product{
    width: 46%;
}
.wrapper-basket__number,
.wrapper-basket__total-price,
.wrapper-basket__price{
    width: 18%;
}

.wrapper-basket__product .wrapper-basket__product_img{
    width: 40%;
    height: auto;
    padding: 0 15px;
}
.wrapper-basket__product .wrapper-basket__product_img img{
    max-width: 100%;
    max-height: 100%
}
.wrapper-basket__product .wrapper-basket__product_desc span{
    font-weight: 500;
    font-size: 15px;
}
.wrapper-basket__product .wrapper-basket__product_desc p{
    font-style: italic;
    font-size: 14px;
}

.wrapper-basket__product .wrapper-basket__product_desc a{
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #a0a0a0;
    text-decoration: underline;
    padding-top: 10px;
}

.wrapper-basket__price span,
.wrapper-basket__total-price span{
    font-weight: 500;
    font-size: 16px;
}
.wrapper-basket__total-price{
    position: relative;
}

.wrapper-basket__total-price i{
    font-size: 10px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}

.wrapper-basket__info_title,
.wrapper-basket__info_conditions{
    text-align: right;
    width: 20%;
}
.wrapper-basket__info_title span,
.wrapper-basket__info_conditions span,
.wrapper-basket__info_conditions a{
    margin: 10px 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px; 
}
.wrapper-basket__info_title span{
    color: #a0a0a0;
    font-weight: 700;
}
.wrapper-basket__info_conditions a{
    color: inherit;
    text-decoration: underline;
}
.wrapper-basket__info_conditions span:last-of-type{
    color: #009e3b;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gotham Pro', sans-serif;
}
.wrapper-basket__button{
    margin-top: 40px;
    margin-bottom: 20px;
    color: #fff;
}
.wrapper-basket__button a{
    margin-left: 25px;
}
.wrapper-basket__button a.btn-red-border{
    font-size: 15px;
    color: #121212;
}

/*the end section basket*/


/*section contacts*/
.contacts, .authorization, .registration, .error-404, .personal-office, .wholesale{
    padding: 40px 0;
}
.contacts-info li{
    font-size: 18px;
    margin-bottom: 15px;
}
.contacts-info li img{
    width: 30px;
    height: 30px;
    padding-right: 10px;
}

.contacts-forms__title, .gruop-social-buttons__title, .rigistration-title{
    font-size: 22px;
    padding-left: 25px;
    font-weight: 400;
    padding-bottom: 15px;
}
.contacts-forms, .my-information__form, .change-passord_form, .my-address__desc, .contact-wholesale{
    border:  1px solid #efefef;
    border-radius: 5px;
    padding: 25px;
    width: 85%;
    font-size: 14px;
}
.contacts-forms .form-control,
.my-information__form .form-control,
.change-passord_form .form-control,
.contact-wholesale .form-control{
    border-radius: 0;
    border: 2px solid #ede9e2;
}

.contacts-forms button, .my-information__form button, .change-passord_form button, .my-address button.btn-red{
    border: none;
    color: #fff;
    margin-top: 15px;
}

/*the end section contacts*/

/*section authorization*/
.gruop-social-buttons{
    height: 100%;
    position: relative;
}
.gruop-social-buttons::before{
    content: '';
    height: 100%;
    width: 1px;
    background: #e2dcd1;
    position: absolute;
    left: -24%;
}
.remind-password{
    color: #009e3b;
   font-weight: 500;
   margin-bottom: 15px;
   text-decoration: underline;
   display: inline-block;
}
.gruop-social-buttons__title{
    padding-left: 0;
}
.gruop-social-buttons__desc{
    font-size: 14px;
    padding-bottom: 10px;
}
.gruop-social-buttons__facebook img, .gruop-social-buttons__twitter img, .gruop-social-buttons__google-plus img{
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.gruop-social-buttons__facebook span, 
.gruop-social-buttons__twitter span, 
.gruop-social-buttons__google-plus span{
    padding-left: 15px;
    border-left: 1px solid;
}
a.gruop-social-buttons__facebook, 
a.gruop-social-buttons__twitter, 
a.gruop-social-buttons__google-plus{
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    width: 100%;
    padding: 10px 0;
    display: inline-block;
    margin-bottom: 10px;
    text-transform: uppercase;
}
a.gruop-social-buttons__facebook:hover, 
a.gruop-social-buttons__twitter:hover, 
a.gruop-social-buttons__google-plus:hover{
    transform: scale(1.05);
}
.gruop-social-buttons__facebook{
    background: #3b5998;
}
.gruop-social-buttons__twitter{
    background: #55acee;
}
.gruop-social-buttons__google-plus{
    background: #dd4b39;
}
/* .rigistration-title{
    padding-left: 0;
    padding-top: 30px;
} */
.gruop-social-buttons .registration-button{
    margin-top: 40px;
}

/*the end section authorization*/

/*section rigistration*/
.form-group p{
    color: #a0a0a0;
    padding-top: 7px;
}

.registration .contacts-forms p{
    padding-top: 10px;
}
.registration .contacts-forms p a{
    color: #009e3b;
}
.registration .contacts-forms p a:hover{
    color: #009e3b;
    text-decoration: underline;
}

/*section error*/
.wrapper-error-404{
    text-align: center;
    font-size: 18px;
}
.wrapper-error-404__img{
    max-width: 100%;
    max-height: 100%;
}
.wrapper-error-404__desc h2{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15px;
}
.wrapper-error-404 a.btn-red{
    font-size: 14px;
    color: #fff;
    margin: 35px 0 20px;
}


/*section personal-office*/
.table-history-order{
    font-size: 14px;
    margin-top: 35px;
}
.date-order h6, 
.number-order h6,
.product-order h6,
.status-order h6,
.total-order h6{
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    border-bottom: 1px solid #e2dcd1;
    padding-bottom: 15px;
}
.date-order span, 
.number-order span,
.product-order span,
.status-order span,
.total-order span{
    margin-top: 8px;
    border-bottom: 1px solid #e2dcd1;
    display: inline-block;
    width: 100%;
    padding-bottom: 8px;
}
.table-history-order .date-order{
    width: 16%;
}
.table-history-order .number-order{
    width: 16%;
}
.table-history-order .product-order{
    width: 16%;
}
.table-history-order .status-order{
    width: 26%;
}
.table-history-order .total-order{
    width: 26%;
}
.tabs-history-order{
    display: none;
}

.my-information, .change-passord{
    width: 48%;
    margin: 35px auto;
    color: #131313;
}
.my-information__title, .change-passord__title, .my-address__title{
    font-size: 22px;
    font-weight: 400;
    padding-left: 25px;
    padding-bottom: 15px;
}

.my-information__form .form-group p{
    color: inherit;
    padding-top: 0;
    padding-bottom: 30px;
}
.my-address{
    width: 56%;
    margin: 35px auto;
}
.my-address .my-address__desc{
    width: 100%;
}

.my-address button.btn-red{
    margin-left: 25px;
    margin-top: 25px;
}
.my-address__desc .my-address__info{
    width: 50%;
}
.my-address__desc .my-address__info h6{
    font-size: 16px;
    padding-bottom: 5px;
}
.my-address .my-address__desc button.btn-red-border{
    background: transparent;
}

/*the end section personal-affice*/

/*section wholesale*/
.contact-wholesale{
    margin: 40px 0;
    width: 100%;
}
.contact-wholesale label::after,
.clearance-order__delivery_form label.necessary::after{
    content: '*';
    color: #ff4444;
    font-size: 16px;
    padding-left: 3px;
}
.contact-wholesale .form-group:last-of-type{
    margin-bottom: 25px;
}
.contact-wholesale button.btn-red{
    border: none;
    margin: 28px 0 15px;
}

/*section clearance-order*/ 
.clearance-order{
    padding-bottom: 45px;
}
.clearance-order .top-background{
    background: #f8f8f8;
    padding: 25px 0;
}
.clearance-order .top-background img{
    max-width: 300px;
    height: auto;
}
.clearance-order{
    color: #131313;
    font-size: 14px;
}
.clearance-order__guest, .clearance-order__delivery{
    padding: 35px 0;
    border-bottom: 1px solid #e7e7e7;
}
.clearance-order__payment{
    padding-top: 35px;
}
.clearance-order__title div{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #4f4f4f;
    color: #fff;
    font-size: 16px;
    margin-right: 30px;
}
.clearance-order__title h4{
    font-size: 22px;
    font-weight: 400;
}
.clearance-order__guest_form, .clearance-order__delivery_form, .clearance-order__form{
    padding-left: 66px;
}
.clearance-order__gruop-input{
    margin-top: 25px;
    margin-bottom: 10px;
    width: 100%;
}
.clearance-order__gruop-input input.form-control{
    width: 300px;
}
.clearance-order__gruop-input input.form-control, .clearance-order__delivery_form input.form-control{
    border: 1px solid #a0a0a0;
}
.btn-dark-grey{
    background: #454545;
    color: #fff;
    font-size: 12px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 30px;
    border: none;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
}
.clearance-order__checkbox{
    margin-bottom: 25px;
}
.clearance-order__checkbox p{
    padding-left: 10px;
}

.clearance-order__guest_form span{
    color: #a0a0a0;
}
.clearance-order__guest_form span a{
    color: #009e3b;
    margin-left: 20px;
}
.clearance-order__delivery_form .btn-dark-grey{
    margin-top: 15px;
}
.clearance-order__delivery_form{
    margin-top: 25px;
}
.clearance-order__form .gruop-radio{
    margin-top: 25px;
    border: 1px solid #efefef;
    background: #f8f8f8;
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
}
.clearance-order__form .gruop-radio p{
    padding-left: 10px;
}
/* .clearance-order__form .gruop-radio .jq-radio{
    width: 20px;
    height: 20px;
}
.clearance-order__form .gruop-radio .jq-radio.checked .jq-radio__div{
    width: 12px;
    height: 12px;
} */
.clearance-order__form .gruop-radio li{
    margin-bottom: 15px;
}
.clearance-order__form .gruop-radio li:last-of-type{
    margin-bottom: 0;
}
.clearance-order__form button.btn-red{
    width: 100%;
}

.clearance-order__delivery_form{
    display: none;
}
.clearance-order__form{
    display: none;
}
.clearance-order__guest-full{
    display: none;
}

.cards-order{
    border: 1px solid #efefef;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 35px;
    box-shadow: 1px 1px 8px 0 rgba(210, 208, 208, 0.5);
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}
.cards-order .wrapper__cards-order{
    border-bottom: 1px solid #efefef;
    padding: 15px;
}
.cards-order .wrapper__cards-order:last-of-type{
    border-bottom: 0;
}
.wrapper__cards-order_edit{
    color: #009e3b;
    font-family: 'Gotham Pro', sans-serif;
}
.wrapper__cards-order_edit:hover{
    color: #009e3b;
    text-decoration: underline;
}
.cards-order__product p{
    padding-left: 5px;
}
.cards-order__product .cards-order__product_desc{
    padding-top: 10px;
}
.cards-order__product div span{
    width: 28%;
}
.cards-order__width-block{
    width: 45%;
}
.cards-order__totla-price{
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
.cards-order__link{
    color: inherit;
    text-decoration: underline;
}
/*the end section clearance-order*/
@media only screen and (max-width: 1200px){
    .baner-title h1{
        font-size: 2.75em;
    }
    .baner-title p{
        font-size: 1.25em;
    }
    
    /* .wrapper-menu__categories h4, .wrapper-menu__popular h4{
        padding-left: 29px;
    } */
    .input-search {
        width: 100%;
    }
    .phone svg, .user svg, .carts img{
        margin-left: 0;
    }
    .wrap-icon {
        justify-content: space-between !important;
    }
    .carts .counter{
        left: 16px;
    }
    .send-letter__form button{
        font-size: 14px;
    }
    .wrapper-catalog .cards-2{
        margin-right: 8.8%;
    }
    .nav-item, .nav-link {
        font-size: 18px;
    }
    .wrapper-catalog-2 .cards{
        margin-right: 2%;
    }
    #phone .ours-phone .ours-phone__nomber{
        width: 70%;
    }
    .contacts-forms{
        width: 100%;
    }
    .gruop-social-buttons::before{
        left: -14%;
    }
    .modal-window .wrapper-fast-browsing .details-product{
        width: 50%;
    }
    .modal-window .wrapper-fast-browsing .counter .wrap-counter,
    .modal-window .wrapper-fast-browsing .counter .wrap-counter span {
        font-size: 13px;
        padding-right: 10px;
        padding-left: 5px;
    }
    .modal-window .wrapper-fast-browsing .counter .wrap-counter button.btn-red{
        padding: 0 10px;
        width: auto;
    }
    .clearance-order__gruop-input input.form-control{
        width: 100%;
    }
}


@media only screen and (max-width:1024px) and (min-width: 768px){
    #header .container{
        max-width: 100%;
    }
    /* .logo__text {
        font-size: 0.45em;
    } */
    .menu{
        justify-content: space-between;
        height: 55px;
        font-size: 0.93em;
    }
    .menu .menu-item{
        padding-right: 0;
    }
    .delivery {
        margin-bottom: 7px;
    }
    .delivery a {
        font-size: 0.675em;
    }
    .carts span {
        padding-left: 10px;
        font-size: 0.738em;
    }
    .baner-title{
        padding: 55px 0;
    }
    .baner-menu{
        margin-bottom: 0;
    }
    .wrapper-menu__categories-img {
        width: 25%;
    }
    .comments-cards__info_img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }
    .comments-cards__info .comments-cards__info_desc p {
        font-size: 14px;
    }
    .comments-catds__text {
        font-size: 14px;
        padding-top: 14px;
    }
    .comments-cards__info .comments-cards__info_desc::after {
        font-size: 90px;
        right: 5px;
        top: 3px;
    }
    .send-letter__form button{
        font-size: 14px;
    }
    .subscribe {
        width: 50%;
    }
    #phone .ours-consultants .ours-consultants__name{
        width: 85%;
    }
    #phone .ours-consultants .ours-consultants__img img {
        height: 325px;
        right: -40px;
    }
}
@media only screen and (max-width: 992px) {
    .wrapper-catalog .cards-2{
        width: 165px;
        margin-right: 13.8%;
    }
    .nav-item, .nav-link {
        font-size: 16px;
    }
    .wrapper-catalog-2 .cards{
        margin-right: 8%;
    }
    .wrapper-catalog-2 .cards:nth-of-type(2n){
        margin-right: 0;
    }
    .wrapper-catalog-2 .cards:nth-of-type(3n){
        margin-right: 8%;
    }
    .wrapper-catalog-2 .cards:nth-of-type(6n){
        margin-right: 0;
    }
    .card-product .container,
    .recommend .container,
    .basket .container,
    .contacts .container,
    .personal-office .container,
    .clearance-order .container{
        max-width: 100%;
    }
    .reviews .comements-cards {
        margin-right: 25px;
        margin-bottom: 25px;
    }
    .gruop-social-buttons::before {
        content: '';
        height: 0;
    }
    .my-address{
        width: 70%;
    }
    .my-information__form, .change-passord_form{
        width: 100%;
    }
}
@media only screen and (max-width: 840px) and (min-width: 768px){
    .personal-office .nav-link {
        font-size: 14px;
    }
}
@media only screen and (max-width: 820px) {
    .clearance-order__gruop-input{
        flex-flow: column;
    }
    .clearance-order__gruop-input button.btn-dark-grey{
        margin-top: 15px;
    }
}
@media only screen and (max-width: 767px) {
    .container{
        max-width: 100%
    }
    .wrap-icon {
        margin-top: 22px;
    }
    .input-search{
        margin-top: 25px;
    }

    .menu-icon{
        display: flex;
        justify-content: flex-end;
        color: #c22938;
        font-size: 34px;
        position: absolute;
        top: -85px;
        right: 7%;
        height: auto;
        overflow: visible;
    }

    .menu{
    position: fixed;
    right: 0;
    background: #fff;
    flex-flow: column;
    height: auto;
    align-items: flex-end;
    width: 30%;
    z-index: 100;
    /* height: 0;
    overflow: hidden; */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -moz-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;

    }
    .menu-item{
        padding: 7px 15px 7px 0;
        position: relative;
    }
    
    .menu-item:last-of-type{
        padding-right: 15px;
    }

    .menu.open{
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    /* height: 50%;
    overflow: visible; */
    }

    .delivery-info{
        flex-flow: column;
    }
    .delivery-info a{
        padding-top: 15px;
    }
    
    .baner-title h1 {
        font-size: 2.2em;
    }
    .baner-title p {
        font-size: 1.15em;
    }
    .nav.nav-pills{
        flex-flow: column;
    }
    .nav-pills .nav-link.active::before, .nav-pills .show>.nav-link {
        content: '\f0d9';
        top: 7px;
        left: 97%;    
    }
    .wrap-why-we h1{
        font-size: 30px;
    }
    .wrap-why-we p{
        font-size: 20px;
    }
    .content{
        text-align: center;
    }

    .content-menu-3{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-title-3{
        text-align: center;
        padding-top: 15px;
    }
    .content-menu-3 li{
        padding-right: 14px;
    }

    .content-info{
        text-align: center;
    }
    .content-info-title{
        padding-top: 15px;
    }
    .content-menu__icon{
        justify-content: center;
    }
    .subscribe{
        width: 50%;
    }
    .slider-comments .slick-arrow.slick-next {
        right: 5px;
    }
    .slider-comments .slick-arrow.slick-prev {
        left: 5px;
    }
    .wrapper-menu{
        display: none !important;
    }
    .wrapper-catalog .cards-2{
        margin: 25px 13%;
    }
    
    .wrapper-catalog .cards-2:nth-of-type(3n){
        margin-right: 13%;
    }
    #phone .ours-consultants{
        display: none !important;
    }
    #phone .ours-phone {
        width: 100%;
        text-align: center;
    }
    #phone .ours-phone .ours-phone__nomber {
        width: 50%;
        margin: auto;
        margin-bottom: 30px;
    }
    #phone .ours-phone .ours-phone__title{
        font-size: 24px;
        padding-bottom: 30px;
        padding-top: 55px;
    }

    .wrapper-fast-browsing{
        flex-flow: column;
    }
    .img-product {
        width: 70%;
        margin: auto;
    }
    .details-product {
        margin-top: 30px;
        text-align: center;
    }

    .details-product .stars,
    .details-product .icon-img,
    .details-product .counter .wrap-counter,
    .details-product .share-social{
        justify-content: center;
    }
    .choice-weight .gruop-radio li{
        justify-content: center;
    }
    .tabs .nav.nav-pills{
        flex-flow: row;
    }
    .tabs .nav-pills .nav-link.active::before {
        top: -8px;
        color: #c22938;
        content: '\f0d7';
        font-family: 'FontAwesome';
        left: 48%;
    }
    .reviews .comments-cards__info_img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }
    .reviews .comments-cards__info .comments-cards__info_desc p {
        font-size: 14px;
    }
    .reviews .comments-catds__text {
        font-size: 14px;
        padding-top: 14px;
    }
    .reviews .comments-cards__info .comments-cards__info_desc::after {
        font-size: 90px;
        right: 5px;
        top: 3px;
    }
    .contacts-forms__title{
        margin-top: 20px;
    }
    .modal-window .wrapper-fast-browsing .img-product{
        width: 90%;
    }
    .modal-window .wrapper-fast-browsing .details-product{
        width: 100%;
    }
    .my-information, .change-passord{
        width: 75%;
    }
    .my-address{
        width: 100%;
    }
    
} 

@media only screen and (max-width: 768px) and (min-width: 600px){
    .contacts .container{
       padding: 0 55px;
    } 

}
@media only screen and (max-width: 717px) {
    .wrapper-catalog .cards-2{
        margin: 25px 12%;
    }
    
    .wrapper-catalog .cards-2:nth-of-type(3n){
        margin-right: 12%;
    }
    .wrapper-catalog-2 .cards{
        width: 200px;
    }
}
@media only screen and (max-width: 665px) {
    .wrapper-catalog .cards-2{
        margin: 25px 11%;
    }
    
    .wrapper-catalog .cards-2:nth-of-type(3n){
        margin-right: 11%;
    }
    .reviews .comements-cards {
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .table-history-order{
        display: none !important;
    }
    .tabs-history-order{
        display: block;
    }
    .tabs-history-order .nav.nav-pills{
        flex-flow: row;
    }
    .tabs-history-order .nav-link{
        font-size: 12px;
        text-transform: none;
        padding: 5px 8px;
    }
    .tabs-history-order .nav-pills .nav-link.active::before{
        content: '\f0d7';
        top: -5px;
        left: 48%;
    }
    .tabs-history-order .tab-content{
        text-align: center;
        font-size: 14px;
    }
}
@media only screen and (max-width: 620px) {
    .baner-menu a img {
        height: 40px;
        width: 40px;
    }
    .comments-catds__text, .comments-cards__info .comments-cards__info_desc p{
        font-size: 15px;
    }
    .wrapper-catalog .cards-2{
        margin: 25px 10%;
    }
    
    .wrapper-catalog .cards-2:nth-of-type(3n){
        margin-right: 10%;
    }
    .wrapper-catalog-2 .cards{
        margin-right: 5%;
    }
    .wrapper-catalog-2 .cards:nth-of-type(3n){
        margin-right: 5%;
    }

}
@media only screen and (max-width: 600px) {
    .wrapper-catalog-2 .cards{
        margin-right: 0%;
    }
    .wrapper-catalog-2 .cards:nth-of-type(3n){
        margin-right: 0%;
    }
    .reviews .comements-cards {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 580px) {
    .wrapper-catalog .cards-2{
        margin: 25px 9%;
    }
    
    .wrapper-catalog .cards-2:nth-of-type(3n){
        margin-right: 9%;
    }
}

@media only screen and (max-width: 575px) {
    /* .logo__text{
        display: none;
    } */
    .carts span{
        display: none;
    }
    .wrap-icon{
        width: 90%;
    }
    /* .phone{
        padding-left: 45px;
    } */
    .input-search{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .delivery{
        display: none !important;
    }

    .menu-icon{
        top: -57px;
    }
    .menu{
        width: 55%;
    }
    .baner-menu, .content-title, .content-info-title, .content-info-text, .baner-top{
        display: none;
    }
    .content{
        margin-bottom: 15px;
    }
    .content-menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .content-menu li{
        padding-right: 15px;
    }
    .content-menu__icon{
        justify-content: flex-end;
    }
    .payment{
        position: absolute;
        top: -90px;
    }
    .payment a img{
        width: 50px;
    }
    .payment a{
        margin-left: 25px;
    }
    .subscribe{
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .comments-cards__info .comments-cards__info_desc::after,
    .reviews .comments-cards__info .comments-cards__info_desc::after{
        font-size: 0;
    }
    .comments-catds__text, .comments-cards__info .comments-cards__info_desc p{
        font-size: 14px;
    }
    .comments-cards__info_img{
        margin-right: 10px;
        width: 65px;
        height: 65px;
    }

    .send-letter__form button{
        display: none;
    }
    .send-letter__form input{
        width: 100%;
    }
    .send-letter__form{
        position: relative;
    }
    .send-letter__form::after{
        content: '';
        height: inherit;
        width: 40px;
        background: #c22938;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
    .send-letter__form::before{
        content: '';
        position: absolute;
        right: 13px;
        top: 8px;
        width: 10px;
        height: 18px;
        border: solid white;
        border-width: 0 4px 4px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: 10;
    }
    .filter{
        display: flex;
        justify-content: space-around;
        /* text-align: center; */
        width: 80%;
        border: 1px solid #121212;
        border-radius: 10px;
        padding: 8px 0;
        margin: auto;
        margin-bottom: 30px;
        cursor: pointer;
    }
    .filter::after{
        content: '\f0d7';
        font-family: 'FontAwesome';
        /* color: #c22938; */
        /* padding-left: 25px; */
    }
    /* .filter.btn-red:hover{
        color: #fff;
        transform: scale(1);
    } */
    .wrap-filter{
        display: none;
    }
    .wrap-filter.show{
        display: block;
    }
    .catalog-2 .cards{
        width: 50%;
        height: 100%;
    }
    #phone .ours-phone .ours-phone__nomber{
        border-right: none;
        width: 100%;
    }
    .ours-phone__nomber_life, .ours-phone__nomber_k, .ours-phone__nomber_mts{
        justify-content: center;
    }
    .wrapper-fast-browsing{
        flex-flow: column;
    }
    .reviews .comements-cards{
        width: 100%;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 15px;
    }
    .reviews .comements-cards:nth-of-type(2n) {
        margin-right: 15px;
    }

    .tabs .nav.nav-pills {
        flex-flow: column;
    }
    .tabs .nav-link {
        margin-left: 0;
        border: none;
    }
    .wrapper-basket.hide-wrapper-basket{
        display: none !important;
    }
    .wrapper-basket{
        flex-flow: column;
    }
    .wrapper-basket__product{
        width: 100%;
    }
    .wrapper-basket__number, .wrapper-basket__total-price, .wrapper-basket__price {
        width: 50%;
        margin: 15px 0;
        display: flex;
        justify-content: center;
    }
    .wrapper-basket__product .wrapper-basket__product_img {
        width: 55%;
    }
    .wrapper-basket__info_title, .wrapper-basket__info_conditions {
        width: 50%;
        text-align: center;
    }
    .wrapper-basket__button {
        flex-flow: column;
        width: 70%;
        margin: 20px auto ;
    }
    .wrapper-basket__button a {
        margin-top: 25px;
        margin-left: 0;
        text-align: center;
    }
    .wrapper-catalog-2 .cards .cards-button span.btn-red{
        font-size: 18px;
    }
    .wrapper-catalog-2 .cards .cards-button {
        position: absolute;
        top: 28%;
        left: 27%;
    }
    .gruop-social-buttons__title{
        margin-top: 15px;
    }
}
@media only screen and (max-width: 545px) {
    .wrapper-catalog .cards-2{
        margin: 25px 8%;
    }
    
    .wrapper-catalog .cards-2:nth-of-type(3n){
        margin-right: 8%;
    }
    .img-product {
        width: 100%;
        padding: 0;
    }
}
@media only screen and (max-width: 516px) {
    .wrapper-catalog .cards-2{
        margin: 25px 7%;
    }
    
    .wrapper-catalog .cards-2:nth-of-type(3n){
        margin-right: 7%;
    }
}
@media only screen and (max-width: 489px) {
    .wrapper-catalog .cards-2{
        margin: 25px 6%;
    }
    
    .wrapper-catalog .cards-2:nth-of-type(3n){
        margin-right: 6%;
    }
    .wrap-counter{
        flex-flow: column;
    }
    .wrap-counter .wrap-counter__gruop1{
        justify-content: space-around;
        margin: 10px 0;
    }
}
@media only screen and (max-width: 465px) {
    .wrapper-catalog .cards-2{
        width: 80%;
        margin: 25px auto;
    }
    
    .wrapper-catalog .cards-2:nth-of-type(3n){
        margin: 25px auto;
    }
}

@media only screen and (max-width: 425px) {
    .phone{
        padding-left: 0;
    }
    .wrap-icon {
        margin-top: 15px;
    }
    .logo{
        width: 100%;
    }
    .subscribe img{
        margin-right: 50px;
    }
    .catalog-2 .cards{
        width: 100%;
    }
    .wrap-counter{
        flex-flow: column;
    }
    .wrapper-basket__number .wrap-counter .wrap-counter__spinner{
        width: 50%;
        margin: auto;
        margin-bottom: 10px;
    }
    .cards{
        padding: 0;
    }
    .wrapper-error-404{
        font-size: 16px;
    }
    .wrapper-error-404__desc h2{
        font-size: 18px;
    }
    .modal-window{
        padding: 0 5px;
    }
    .my-information, .change-passord{
        width: 100%;
    }
    .my-address .my-address__desc button.btn-red-border{
        padding: 8px 12px;
        font-size: 12px;
    }
}
